{
  "circuit": {
    "elements": [
      {
        "id": "57659b2e-0199-4ec6-a0af-f9edee9edc0d",
        "position": {
          "x": 0,
          "y": 2
        },
        "properties": {
          "_modelParams": {
            "voltage": 5
          },
          "label": "Vs",
          "position": [
            0,
            0
          ],
          "voltage": 5
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "7b5b60de-96b0-46c0-b554-a7fa9198942d",
        "position": {
          "x": 12,
          "y": 1
        },
        "properties": {
          "_modelParams": {
            "resistance": 1000
          },
          "label": "r1",
          "position": [
            0,
            8
          ],
          "resistance": 1000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "505f8f86-7a9e-4c71-a383-ec82040e2446",
        "position": {
          "x": 24,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "IC": null,
            "M": 1,
            "SCALE": 1,
            "TC1": 0,
            "TC2": 0,
            "TNOM": 300.15,
            "capacitance": 0.000001
          },
          "capacitance": 0.000001,
          "label": "Vc",
          "position": [
            0,
            16
          ]
        },
        "rotation": 0,
        "type": "Capacitor"
      },
      {
        "id": "0195a06d-7c05-48d2-a209-d3f4b9830620",
        "position": {
          "x": 36,
          "y": 2
        },
        "properties": {
          "label": "gnd",
          "position": [
            0,
            24
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "rc-step",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 2
          },
          {
            "x": 5,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 1
          },
          {
            "x": 11,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 2
          },
          {
            "x": 8,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 2
          },
          {
            "x": 8,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 1
          },
          {
            "x": 11,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 1
          },
          {
            "x": 17,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 0
          },
          {
            "x": 23,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 1
          },
          {
            "x": 20,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 1
          },
          {
            "x": 20,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 0
          },
          {
            "x": 23,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 0
          },
          {
            "x": 29,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 0
          },
          {
            "x": 33,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 0
          },
          {
            "x": 33,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 2
          },
          {
            "x": -1,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 2
          },
          {
            "x": -2,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 2
          },
          {
            "x": -2,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 5
          },
          {
            "x": 12,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 5
          },
          {
            "x": 24,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 5
          },
          {
            "x": 30,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 5
          },
          {
            "x": 30,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}