{
  "circuit": {
    "elements": [
      {
        "id": "8f75d117-a521-407e-a802-cf7e65d711ab",
        "position": {
          "x": 0,
          "y": 1
        },
        "properties": {
          "_modelParams": {
            "voltage": 1
          },
          "label": "Vs",
          "position": [
            0,
            0
          ],
          "voltage": 1
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "885e0372-f4da-4e0b-9bf9-23ecebd978a8",
        "position": {
          "x": 12,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "resistance": 10
          },
          "label": "VR",
          "position": [
            0,
            8
          ],
          "resistance": 10
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "b293d41d-3bd1-4d79-870e-69375653925e",
        "position": {
          "x": 24,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "IC": null,
            "M": 1,
            "SCALE": 1,
            "TC1": 0,
            "TC2": 0,
            "TNOM": 300.15,
            "inductance": 0.001
          },
          "inductance": 0.001,
          "label": "l1",
          "position": [
            0,
            16
          ]
        },
        "rotation": 0,
        "type": "Inductor"
      },
      {
        "id": "b09a1738-af5e-4035-8982-c34694a07432",
        "position": {
          "x": 36,
          "y": 2
        },
        "properties": {
          "label": "gnd",
          "position": [
            0,
            24
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "rl-step",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 1
          },
          {
            "x": 5,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 1
          },
          {
            "x": 8,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 1
          },
          {
            "x": 8,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 0
          },
          {
            "x": 17,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 0
          },
          {
            "x": 23,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 0
          },
          {
            "x": 23,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 0
          },
          {
            "x": 29,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 0
          },
          {
            "x": 33,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 0
          },
          {
            "x": 33,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 1
          },
          {
            "x": -1,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 1
          },
          {
            "x": -2,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 1
          },
          {
            "x": -2,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 4
          },
          {
            "x": 12,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 24,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 4
          },
          {
            "x": 30,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 4
          },
          {
            "x": 30,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}