{
  "circuit": {
    "elements": [
      {
        "id": "fab48051-4f44-4e60-960d-8340209ae760",
        "position": {
          "x": 3,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "voltage": 5
          },
          "label": "Vs"
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "00d0cfc0-ac17-492f-ab28-4b96df66a659",
        "position": {
          "x": 3,
          "y": 7
        },
        "properties": {
          "label": "CTRL"
        },
        "rotation": 0,
        "type": "In"
      },
      {
        "id": "c0f9500c-1d06-4ffb-8492-b2e92e4974a9",
        "position": {
          "x": 12,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "rOff": 1000000000,
            "rOn": 10,
            "threshold": 1.65,
            "transitionSharpness": 20
          },
          "label": "SW"
        },
        "rotation": 0,
        "type": "SwitchSPST"
      },
      {
        "id": "e4f8edc1-2ccd-4984-9f1b-9e6ccc2c99ce",
        "position": {
          "x": 20,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "resistance": 10000
          },
          "label": "R1"
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "d2ad9edd-a6fb-4cc1-ac87-b55ccc504ae8",
        "position": {
          "x": 28,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "resistance": 10000
          },
          "label": "R2"
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "c6e3b6fa-2878-4de9-8666-764e5b3177a3",
        "position": {
          "x": 3,
          "y": 4
        },
        "properties": {},
        "rotation": 0,
        "type": "Ground"
      },
      {
        "id": "25d91a55-003e-44cb-8831-ddfc1be778e1",
        "position": {
          "x": 32,
          "y": 8
        },
        "properties": {},
        "rotation": 0,
        "type": "Ground"
      },
      {
        "id": "767436e9-dd79-4c41-bee2-cc545055a9d0",
        "position": {
          "x": 26,
          "y": 1
        },
        "properties": {
          "label": "P_DIV"
        },
        "rotation": 0,
        "type": "Probe"
      },
      {
        "id": "bd544e89-5c0e-4521-b8b9-291ded273227",
        "position": {
          "x": 20,
          "y": 11
        },
        "properties": {
          "_modelParams": {
            "resistance": 1000
          },
          "label": "R3"
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "313aa6e8-e2de-45d2-a6e5-9728bfbd3e02",
        "position": {
          "x": 28,
          "y": 11
        },
        "properties": {
          "_modelParams": {
            "capacitance": 0.000001
          },
          "label": "C1"
        },
        "rotation": 0,
        "type": "Capacitor"
      },
      {
        "id": "f3fce659-72e0-4e87-8359-0d229916e5d9",
        "position": {
          "x": 32,
          "y": 12
        },
        "properties": {},
        "rotation": 0,
        "type": "Ground"
      },
      {
        "id": "895b6370-9fae-47b3-8c58-6a9596bbe032",
        "position": {
          "x": 26,
          "y": 9
        },
        "properties": {
          "label": "P_RC"
        },
        "rotation": 0,
        "type": "Probe"
      },
      {
        "id": "ed803a7d-924a-4b21-80e9-1481fa518804",
        "position": {
          "x": 28,
          "y": 19
        },
        "properties": {
          "_modelParams": {
            "gain": 1000000,
            "rOut": 75
          },
          "label": "AMP"
        },
        "rotation": 0,
        "type": "OpAmp"
      },
      {
        "id": "32ae7de4-04cf-4d95-9ca5-978fb90bf96f",
        "position": {
          "x": 36,
          "y": 19
        },
        "properties": {
          "label": "P_AMP"
        },
        "rotation": 0,
        "type": "Probe"
      },
      {
        "id": "c6aceee5-e8df-4891-a75c-41dccb792f79",
        "position": {
          "x": 20,
          "y": 25
        },
        "properties": {
          "_modelParams": {
            "resistance": 100000
          },
          "label": "Rb"
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "71af131a-ca60-4d22-a34b-7aa61043cca2",
        "position": {
          "x": 28,
          "y": 25
        },
        "properties": {
          "_modelParams": {
            "BF": 100,
            "BR": 1,
            "IKF": "_inf",
            "IKR": "_inf",
            "IS": 1e-14,
            "ISC": 0,
            "ISE": 0,
            "NF": 1,
            "NR": 1,
            "VAF": "_inf",
            "VAR": "_inf"
          },
          "label": "Q1"
        },
        "rotation": 0,
        "type": "NpnBJT"
      },
      {
        "id": "11ffa01a-b04d-4b24-8d0d-481bb78726b9",
        "position": {
          "x": 36,
          "y": 24
        },
        "properties": {
          "_modelParams": {
            "resistance": 1000
          },
          "label": "Rc"
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "8c394fc0-8aa4-4bf3-86ad-b05ec640d889",
        "position": {
          "x": 36,
          "y": 30
        },
        "properties": {
          "_modelParams": {
            "voltage": 12
          },
          "label": "Vcc"
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "4dd6cf1e-6450-4e08-ae23-b3ee64ed7157",
        "position": {
          "x": 32,
          "y": 30
        },
        "properties": {},
        "rotation": 0,
        "type": "Ground"
      },
      {
        "id": "f824b832-c782-4e0a-8855-1638a591a534",
        "position": {
          "x": 44,
          "y": 23
        },
        "properties": {
          "label": "P_CE"
        },
        "rotation": 0,
        "type": "Probe"
      }
    ],
    "name": "Untitled",
    "wires": [
      {
        "points": [
          {
            "x": 7,
            "y": 3
          },
          {
            "x": 12,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 3,
            "y": 7
          },
          {
            "x": 14,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 14,
            "y": 7
          },
          {
            "x": 14,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 3
          },
          {
            "x": 20,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 3
          },
          {
            "x": 32,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 3,
            "y": 3
          },
          {
            "x": 3,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 3
          },
          {
            "x": 26,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 26,
            "y": 3
          },
          {
            "x": 28,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 26,
            "y": 1
          },
          {
            "x": 26,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 11
          },
          {
            "x": 20,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 7
          },
          {
            "x": 18,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 7
          },
          {
            "x": 26,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 26,
            "y": 7
          },
          {
            "x": 26,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 11
          },
          {
            "x": 32,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 11
          },
          {
            "x": 26,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 26,
            "y": 11
          },
          {
            "x": 28,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 26,
            "y": 9
          },
          {
            "x": 26,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 26,
            "y": 20
          },
          {
            "x": 28,
            "y": 20
          }
        ]
      },
      {
        "points": [
          {
            "x": 26,
            "y": 20
          },
          {
            "x": 26,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 18
          },
          {
            "x": 28,
            "y": 18
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 15
          },
          {
            "x": 27,
            "y": 18
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 15
          },
          {
            "x": 35,
            "y": 15
          }
        ]
      },
      {
        "points": [
          {
            "x": 35,
            "y": 15
          },
          {
            "x": 35,
            "y": 19
          }
        ]
      },
      {
        "points": [
          {
            "x": 35,
            "y": 19
          },
          {
            "x": 32,
            "y": 19
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 19
          },
          {
            "x": 35,
            "y": 19
          }
        ]
      },
      {
        "points": [
          {
            "x": 19,
            "y": 25
          },
          {
            "x": 20,
            "y": 25
          }
        ]
      },
      {
        "points": [
          {
            "x": 19,
            "y": 23
          },
          {
            "x": 19,
            "y": 25
          }
        ]
      },
      {
        "points": [
          {
            "x": 19,
            "y": 23
          },
          {
            "x": 35,
            "y": 23
          }
        ]
      },
      {
        "points": [
          {
            "x": 35,
            "y": 23
          },
          {
            "x": 35,
            "y": 19
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 25
          },
          {
            "x": 28,
            "y": 25
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 24
          },
          {
            "x": 36,
            "y": 24
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 23
          },
          {
            "x": 44,
            "y": 23
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 23
          },
          {
            "x": 36,
            "y": 24
          }
        ]
      },
      {
        "points": [
          {
            "x": 40,
            "y": 24
          },
          {
            "x": 40,
            "y": 30
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 26
          },
          {
            "x": 32,
            "y": 30
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 30
          },
          {
            "x": 32,
            "y": 30
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}
