{
  "circuit": {
    "elements": [
      {
        "id": "36242a25-8f68-4604-ab44-5fce5bafc973",
        "position": {
          "x": 3,
          "y": 8
        },
        "properties": {
          "label": "D0",
          "value": 0
        },
        "rotation": 0,
        "type": "Const"
      },
      {
        "id": "a5b5f2b9-13e8-4740-8bf2-dbb53c68d794",
        "position": {
          "x": 3,
          "y": 11
        },
        "properties": {
          "label": "D1"
        },
        "rotation": 0,
        "type": "Const"
      },
      {
        "id": "151cfec8-9ea6-4faf-a1ef-9d00423fb783",
        "position": {
          "x": 3,
          "y": 14
        },
        "properties": {
          "label": "D2",
          "value": 0
        },
        "rotation": 0,
        "type": "Const"
      },
      {
        "id": "06ba01ea-0efb-4df0-9896-e262cfdcc3fe",
        "position": {
          "x": 3,
          "y": 17
        },
        "properties": {
          "label": "D3"
        },
        "rotation": 0,
        "type": "Const"
      },
      {
        "id": "2e4314e3-5c89-4855-ae28-4a09a12d7d8f",
        "position": {
          "x": 15,
          "y": 15
        },
        "properties": {
          "_modelParams": {
            "rOut": 100
          },
          "bits": 4,
          "label": "DAC1"
        },
        "rotation": 0,
        "type": "DAC"
      },
      {
        "id": "901aafcf-8962-4c7a-9d3b-e66acaeea5bd",
        "position": {
          "x": 8,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "voltage": 5
          },
          "label": "Vref"
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "2986b141-aa9c-4e5c-a229-e572aa6ba949",
        "position": {
          "x": 8,
          "y": 8
        },
        "properties": {},
        "rotation": 0,
        "type": "Ground"
      },
      {
        "id": "4a5c5a8e-ed09-4d75-b93b-83fddda3928a",
        "position": {
          "x": 17,
          "y": 22
        },
        "properties": {},
        "rotation": 0,
        "type": "Ground"
      },
      {
        "id": "5b0350d7-c666-43af-b1b4-a70b5fcd3394",
        "position": {
          "x": 25,
          "y": 15
        },
        "properties": {
          "_modelParams": {
            "resistance": 1000
          },
          "label": "R1"
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "af9ff9c0-c0e6-44c8-8b95-138a2d44820d",
        "position": {
          "x": 33,
          "y": 15
        },
        "properties": {
          "_modelParams": {
            "capacitance": 0.000001
          },
          "label": "C1"
        },
        "rotation": 0,
        "type": "Capacitor"
      },
      {
        "id": "46601810-5cf2-45ac-9547-500b00f0a506",
        "position": {
          "x": 37,
          "y": 16
        },
        "properties": {},
        "rotation": 0,
        "type": "Ground"
      },
      {
        "id": "9f8c6e21-1b65-469b-85b2-38c4f8d4b635",
        "position": {
          "x": 31,
          "y": 13
        },
        "properties": {
          "label": "P_DAC"
        },
        "rotation": 0,
        "type": "Probe"
      },
      {
        "id": "ec6a8010-6cd8-416f-b0f4-562a4fb9ef9e",
        "position": {
          "x": 33,
          "y": 19
        },
        "properties": {
          "_modelParams": {
            "hysteresis": 0,
            "rSat": 50,
            "responseTime": 0.000001,
            "vos": 0.001
          },
          "label": "CMP",
          "outputType": "push-pull"
        },
        "rotation": 0,
        "type": "VoltageComparator"
      },
      {
        "id": "eea9d2ee-4191-4e8f-9856-f5ab7d1f1989",
        "position": {
          "x": 25,
          "y": 21
        },
        "properties": {
          "_modelParams": {
            "voltage": 2.5
          },
          "label": "Vref2"
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "fa1d60d3-b68f-446a-9261-3a0233a42b02",
        "position": {
          "x": 25,
          "y": 24
        },
        "properties": {},
        "rotation": 0,
        "type": "Ground"
      },
      {
        "id": "82882796-5a51-409f-92a8-eabc3c137bf5",
        "position": {
          "x": 38,
          "y": 18
        },
        "properties": {
          "label": "GA"
        },
        "rotation": 0,
        "type": "And"
      },
      {
        "id": "90a28860-a98c-43ae-8f66-222252d9b354",
        "position": {
          "x": 38,
          "y": 20
        },
        "properties": {
          "label": "C_EN"
        },
        "rotation": 0,
        "type": "Const"
      },
      {
        "id": "77eb3dc6-ecf6-4e8e-88ad-c2941f120a7e",
        "position": {
          "x": 34,
          "y": 24
        },
        "properties": {
          "label": "CLK"
        },
        "rotation": 0,
        "type": "Clock"
      },
      {
        "id": "4bc4f7c1-e7db-4cbb-a65c-c26cb0613680",
        "position": {
          "x": 44,
          "y": 18
        },
        "properties": {
          "label": "CNT"
        },
        "rotation": 0,
        "type": "Counter"
      },
      {
        "id": "589dc15a-2b26-47c7-9fe5-0d2cf6931086",
        "position": {
          "x": 48,
          "y": 18
        },
        "properties": {
          "bitWidth": 4,
          "label": "Q"
        },
        "rotation": 0,
        "type": "Out"
      }
    ],
    "name": "Untitled",
    "wires": [
      {
        "points": [
          {
            "x": 8,
            "y": 3
          },
          {
            "x": 8,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 3
          },
          {
            "x": 17,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 3
          },
          {
            "x": 17,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 13
          },
          {
            "x": 18,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 20
          },
          {
            "x": 18,
            "y": 22
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 22
          },
          {
            "x": 17,
            "y": 22
          }
        ]
      },
      {
        "points": [
          {
            "x": 15,
            "y": 18
          },
          {
            "x": 9,
            "y": 18
          }
        ]
      },
      {
        "points": [
          {
            "x": 15,
            "y": 17
          },
          {
            "x": 13,
            "y": 17
          }
        ]
      },
      {
        "points": [
          {
            "x": 13,
            "y": 17
          },
          {
            "x": 13,
            "y": 15
          }
        ]
      },
      {
        "points": [
          {
            "x": 3,
            "y": 15
          },
          {
            "x": 13,
            "y": 15
          }
        ]
      },
      {
        "points": [
          {
            "x": 3,
            "y": 15
          },
          {
            "x": 3,
            "y": 14
          }
        ]
      },
      {
        "points": [
          {
            "x": 15,
            "y": 16
          },
          {
            "x": 12,
            "y": 16
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 11
          },
          {
            "x": 12,
            "y": 16
          }
        ]
      },
      {
        "points": [
          {
            "x": 3,
            "y": 11
          },
          {
            "x": 12,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 3,
            "y": 8
          },
          {
            "x": 5,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 8
          },
          {
            "x": 5,
            "y": 10
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 10
          },
          {
            "x": 13,
            "y": 10
          }
        ]
      },
      {
        "points": [
          {
            "x": 13,
            "y": 10
          },
          {
            "x": 13,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 13,
            "y": 13
          },
          {
            "x": 15,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 15,
            "y": 13
          },
          {
            "x": 15,
            "y": 15
          }
        ]
      },
      {
        "points": [
          {
            "x": 25,
            "y": 15
          },
          {
            "x": 21,
            "y": 15
          }
        ]
      },
      {
        "points": [
          {
            "x": 21,
            "y": 15
          },
          {
            "x": 21,
            "y": 16
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 15
          },
          {
            "x": 31,
            "y": 15
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 15
          },
          {
            "x": 33,
            "y": 15
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 13
          },
          {
            "x": 31,
            "y": 15
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 20
          },
          {
            "x": 33,
            "y": 20
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 20
          },
          {
            "x": 29,
            "y": 15
          }
        ]
      },
      {
        "points": [
          {
            "x": 37,
            "y": 15
          },
          {
            "x": 37,
            "y": 16
          }
        ]
      },
      {
        "points": [
          {
            "x": 37,
            "y": 18
          },
          {
            "x": 37,
            "y": 19
          }
        ]
      },
      {
        "points": [
          {
            "x": 37,
            "y": 18
          },
          {
            "x": 38,
            "y": 18
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 18
          },
          {
            "x": 33,
            "y": 18
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 18
          },
          {
            "x": 30,
            "y": 21
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 21
          },
          {
            "x": 29,
            "y": 21
          }
        ]
      },
      {
        "points": [
          {
            "x": 25,
            "y": 21
          },
          {
            "x": 25,
            "y": 24
          }
        ]
      },
      {
        "points": [
          {
            "x": 41,
            "y": 19
          },
          {
            "x": 42,
            "y": 19
          }
        ]
      },
      {
        "points": [
          {
            "x": 42,
            "y": 18
          },
          {
            "x": 42,
            "y": 19
          }
        ]
      },
      {
        "points": [
          {
            "x": 42,
            "y": 18
          },
          {
            "x": 44,
            "y": 18
          }
        ]
      },
      {
        "points": [
          {
            "x": 34,
            "y": 24
          },
          {
            "x": 43,
            "y": 24
          }
        ]
      },
      {
        "points": [
          {
            "x": 43,
            "y": 19
          },
          {
            "x": 43,
            "y": 24
          }
        ]
      },
      {
        "points": [
          {
            "x": 43,
            "y": 19
          },
          {
            "x": 44,
            "y": 19
          }
        ]
      },
      {
        "points": [
          {
            "x": 47,
            "y": 18
          },
          {
            "x": 48,
            "y": 18
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}
