{
  "circuit": {
    "description": "SCR triggered: VA=10V via R_a=100 to anode; VG=0.65V via R_g=100 to gate to inject Q1 base current; cathode at ground.",
    "elements": [
      {
        "id": "db559161-b218-4717-98c3-17e9dfc14aa7",
        "position": {
          "x": 0,
          "y": 1
        },
        "properties": {
          "_modelParams": {
            "voltage": 10
          },
          "label": "VA",
          "position": [
            0,
            0
          ],
          "voltage": 10
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "5d0cc079-d156-4784-97d8-8ba9e12d4247",
        "position": {
          "x": 0,
          "y": 6
        },
        "properties": {
          "_modelParams": {
            "voltage": 0.65
          },
          "label": "VG",
          "position": [
            0,
            8
          ],
          "voltage": 0.65
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "ae9866c9-096c-4243-b850-d5261649d3d4",
        "position": {
          "x": 12,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "resistance": 100
          },
          "label": "RA",
          "position": [
            0,
            16
          ],
          "resistance": 100
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "b132d158-0f63-4165-9b12-edb7a2008c64",
        "position": {
          "x": 12,
          "y": 8
        },
        "properties": {
          "_modelParams": {
            "resistance": 100
          },
          "label": "RG",
          "position": [
            0,
            24
          ],
          "resistance": 100
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "2baa56c9-689a-489e-91fc-53171e1d5c79",
        "position": {
          "x": 24,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "AREA": 1,
            "BF": 100,
            "BR": 100,
            "IS": 1e-16,
            "RB": 0,
            "RC": 0,
            "RE": 0,
            "TEMP": 300.15
          },
          "label": "scr",
          "position": [
            0,
            32
          ]
        },
        "rotation": 0,
        "type": "SCR"
      },
      {
        "id": "3c312566-3e6c-431e-a36c-6b5e8b5394be",
        "position": {
          "x": 12,
          "y": 4
        },
        "properties": {
          "label": "GND",
          "position": [
            0,
            40
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "scr-canon-triggered",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 1
          },
          {
            "x": 5,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 1
          },
          {
            "x": 8,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 1
          },
          {
            "x": 8,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 0
          },
          {
            "x": 17,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 3
          },
          {
            "x": 23,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 0
          },
          {
            "x": 20,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 0
          },
          {
            "x": 20,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 3
          },
          {
            "x": 23,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 12,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 3
          },
          {
            "x": 29,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 3
          },
          {
            "x": 29,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 6
          },
          {
            "x": 5,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 8
          },
          {
            "x": 11,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 6
          },
          {
            "x": 8,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 6
          },
          {
            "x": 8,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 8
          },
          {
            "x": 11,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 8
          },
          {
            "x": 17,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 4
          },
          {
            "x": 27,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 8
          },
          {
            "x": 22,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 22,
            "y": 8
          },
          {
            "x": 22,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 22,
            "y": 5
          },
          {
            "x": 27,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 6
          },
          {
            "x": -1,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 12,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 6
          },
          {
            "x": -2,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 6
          },
          {
            "x": -2,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 3
          },
          {
            "x": 12,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 1
          },
          {
            "x": -1,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 12,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 1
          },
          {
            "x": -3,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": -3,
            "y": 1
          },
          {
            "x": -3,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": -3,
            "y": 3
          },
          {
            "x": 12,
            "y": 3
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}