{
  "circuit": {
    "description": "2kHz Clock (analog model) driving an RC low-pass.",
    "elements": [
      {
        "id": "3d119a65-d4ce-4ff4-9213-d2455fbd8dce",
        "position": {
          "x": 0,
          "y": 0
        },
        "properties": {
          "Frequency": 2000,
          "label": "clk",
          "model": "behavioral",
          "position": [
            0,
            0
          ],
          "vdd": 3.3
        },
        "rotation": 0,
        "type": "Clock"
      },
      {
        "id": "dc29aee2-ff49-469c-8ab5-072639185e7f",
        "position": {
          "x": 10,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "resistance": 10000
          },
          "label": "r",
          "position": [
            0,
            8
          ],
          "resistance": 10000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "c295d101-8de9-4127-b3a9-49d1e2159244",
        "position": {
          "x": 22,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "IC": 0,
            "M": 1,
            "SCALE": 1,
            "TC1": 0,
            "TC2": 0,
            "TNOM": 300.15,
            "capacitance": 0.000001
          },
          "capacitance": 0.000001,
          "label": "c",
          "position": [
            0,
            16
          ]
        },
        "rotation": 0,
        "type": "Capacitor"
      },
      {
        "id": "389e37ec-2cf8-4b6e-a982-0f5547b542b6",
        "position": {
          "x": 34,
          "y": 0
        },
        "properties": {
          "label": "gnd",
          "position": [
            0,
            24
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "clock-canon-2khz-rc",
    "wires": [
      {
        "points": [
          {
            "x": 0,
            "y": 0
          },
          {
            "x": 1,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 10,
            "y": 0
          },
          {
            "x": 9,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 1,
            "y": 0
          },
          {
            "x": 9,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 14,
            "y": 0
          },
          {
            "x": 15,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 22,
            "y": 0
          },
          {
            "x": 21,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 15,
            "y": 0
          },
          {
            "x": 21,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 26,
            "y": 0
          },
          {
            "x": 27,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 34,
            "y": 0
          },
          {
            "x": 34,
            "y": -1
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 0
          },
          {
            "x": 31,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 0
          },
          {
            "x": 31,
            "y": -1
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": -1
          },
          {
            "x": 34,
            "y": -1
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}