{
  "circuit": {
    "description": "NPN CE amplifier with 10V rail and square-wave input",
    "elements": [
      {
        "id": "3f74ec20-58ee-4f15-b5e9-83225c2d3288",
        "position": {
          "x": 0,
          "y": 2
        },
        "properties": {
          "_modelParams": {
            "voltage": 10
          },
          "_pinElectrical": {
            "neg": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            },
            "pos": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            }
          },
          "label": "V1",
          "position": [
            0,
            0
          ],
          "voltage": 10
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "3f289b9d-d100-4af1-87cf-9b3bbbd4f5c7",
        "position": {
          "x": 12,
          "y": 4
        },
        "properties": {
          "_modelParams": {
            "resistance": 47000
          },
          "_pinElectrical": {
            "A": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            },
            "B": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            }
          },
          "label": "Rb",
          "position": [
            0,
            16
          ],
          "resistance": 47000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "3b08ca78-0cc3-44ff-bacd-d8817c6d6052",
        "position": {
          "x": 12,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "resistance": 4700
          },
          "_pinElectrical": {
            "A": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            },
            "B": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            }
          },
          "label": "Rc",
          "position": [
            0,
            24
          ],
          "resistance": 4700
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "088d8710-4e3f-444d-82b7-7e522d91a551",
        "position": {
          "x": 36,
          "y": 2
        },
        "properties": {
          "_modelParams": {
            "resistance": 1000
          },
          "_pinElectrical": {
            "A": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            },
            "B": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            }
          },
          "label": "Re",
          "position": [
            0,
            32
          ],
          "resistance": 1000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "deadf130-7574-400c-8720-101c7f7eb8de",
        "position": {
          "x": 24,
          "y": 2
        },
        "properties": {
          "_modelParams": {
            "AF": 1,
            "AREA": 1,
            "BF": 100,
            "BR": 1,
            "CJC": 0,
            "CJE": 0,
            "CJS": 0,
            "EG": 1.11,
            "FC": 0.5,
            "IKF": "_inf",
            "IKR": "_inf",
            "IRB": 0,
            "IS": 1e-16,
            "ISC": 0,
            "ISE": 0,
            "ISS": 0,
            "ITF": 0,
            "KF": 0,
            "M": 1,
            "MJC": 0.33,
            "MJE": 0.33,
            "MJS": 0,
            "NC": 2,
            "NE": 1.5,
            "NF": 1,
            "NKF": 0.5,
            "NR": 1,
            "NS": 1,
            "PTF": 0,
            "RB": 0,
            "RBM": 0,
            "RC": 0,
            "RE": 0,
            "TF": 0,
            "TNOM": 300.15,
            "TR": 0,
            "VAF": "_inf",
            "VAR": "_inf",
            "VJC": 0.75,
            "VJE": 0.75,
            "VJS": 0.75,
            "VTF": "_inf",
            "XCJC": 1,
            "XTB": 0,
            "XTF": 0,
            "XTI": 3
          },
          "_pinElectrical": {
            "B": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            },
            "C": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            },
            "E": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            }
          },
          "label": "Q1",
          "position": [
            0,
            40
          ]
        },
        "rotation": 0,
        "type": "NpnBJT"
      },
      {
        "id": "f988ca91-12e7-49bf-af3f-dab97695f861",
        "position": {
          "x": 48,
          "y": 6
        },
        "properties": {
          "label": "GND",
          "position": [
            0,
            48
          ]
        },
        "rotation": 0,
        "type": "Ground"
      },
      {
        "id": "95491e3c-dbee-4f4a-945e-836d072e07c7",
        "position": {
          "x": 0,
          "y": 7
        },
        "properties": {
          "_modelParams": {
            "amplitude": 0.1,
            "dcOffset": 1.9,
            "fallTime": 1e-9,
            "frequency": 1000,
            "phase": 0,
            "riseTime": 1e-9
          },
          "_pinElectrical": {
            "neg": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            },
            "pos": {
              "cIn": 5e-12,
              "cOut": 5e-12,
              "rHiZ": 10000000,
              "rIn": 10000000,
              "rOut": 50,
              "vIH": 2,
              "vIL": 0.8,
              "vOH": 3.3,
              "vOL": 0
            }
          },
          "amplitude": 0.1,
          "dcOffset": 1.9,
          "frequency": 1000,
          "label": "Vin",
          "position": [
            0,
            7
          ],
          "waveform": "square"
        },
        "rotation": 0,
        "type": "AcVoltageSource"
      }
    ],
    "name": "NPN Common-Emitter",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 2
          },
          {
            "x": 5,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 2
          },
          {
            "x": 8,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 2
          },
          {
            "x": 8,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 0
          },
          {
            "x": 17,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 1
          },
          {
            "x": 29,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 0
          },
          {
            "x": 30,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 0
          },
          {
            "x": 30,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 1
          },
          {
            "x": 29,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 3
          },
          {
            "x": 29,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 35,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 3
          },
          {
            "x": 32,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 3
          },
          {
            "x": 32,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 2
          },
          {
            "x": 35,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 40,
            "y": 2
          },
          {
            "x": 41,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 48,
            "y": 6
          },
          {
            "x": 48,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 41,
            "y": 2
          },
          {
            "x": 45,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 45,
            "y": 2
          },
          {
            "x": 45,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 45,
            "y": 5
          },
          {
            "x": 48,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 2
          },
          {
            "x": -1,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 48,
            "y": 6
          },
          {
            "x": 48,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 2
          },
          {
            "x": 6,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 6,
            "y": 2
          },
          {
            "x": 6,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 6,
            "y": 8
          },
          {
            "x": 12,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 8
          },
          {
            "x": 18,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 8
          },
          {
            "x": 18,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 7
          },
          {
            "x": 24,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 7
          },
          {
            "x": 30,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 7
          },
          {
            "x": 30,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 6
          },
          {
            "x": 36,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 6
          },
          {
            "x": 42,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 42,
            "y": 6
          },
          {
            "x": 42,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 42,
            "y": 5
          },
          {
            "x": 48,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 11,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 7
          },
          {
            "x": 8,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 7
          },
          {
            "x": 8,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 4
          },
          {
            "x": 11,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 4
          },
          {
            "x": 17,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 2
          },
          {
            "x": 23,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 4
          },
          {
            "x": 20,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 4
          },
          {
            "x": 20,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 2
          },
          {
            "x": 23,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 48,
            "y": 6
          },
          {
            "x": 48,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 7
          },
          {
            "x": -2,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 7
          },
          {
            "x": -2,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 12
          },
          {
            "x": 12,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 12
          },
          {
            "x": 18,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 12
          },
          {
            "x": 18,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 11
          },
          {
            "x": 24,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 11
          },
          {
            "x": 30,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 11
          },
          {
            "x": 30,
            "y": 10
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 10
          },
          {
            "x": 36,
            "y": 10
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 10
          },
          {
            "x": 43,
            "y": 10
          }
        ]
      },
      {
        "points": [
          {
            "x": 43,
            "y": 10
          },
          {
            "x": 43,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 43,
            "y": 5
          },
          {
            "x": 48,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 7
          },
          {
            "x": -1,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 7
          },
          {
            "x": 5,
            "y": 7
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}