{
  "circuit": {
    "elements": [
      {
        "id": "c1oc0n01-0000-0000-0000-000000000001",
        "position": { "x": 0, "y": 4 },
        "properties": { "label": "vsrc_p", "voltage": 1 },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "c1oc0n02-0000-0000-0000-000000000002",
        "position": { "x": 0, "y": 9 },
        "properties": { "label": "vsrc_n", "voltage": 0 },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "c1oc0n03-0000-0000-0000-000000000003",
        "position": { "x": 0, "y": 14 },
        "properties": { "label": "vsrc_voh", "voltage": 3.3 },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "c1oc0n04-0000-0000-0000-000000000004",
        "position": { "x": 12, "y": 8 },
        "properties": { "label": "rload", "resistance": 1000 },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "c1oc0n05-0000-0000-0000-000000000005",
        "position": { "x": 24, "y": 6 },
        "properties": {
          "label": "cmp",
          "model": "open-collector",
          "responseTime": 1e-7
        },
        "rotation": 0,
        "type": "VoltageComparator"
      },
      {
        "id": "c1oc0n06-0000-0000-0000-000000000006",
        "position": { "x": 24, "y": 13 },
        "properties": { "label": "gnd" },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "Untitled",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 4
          },
          {
            "x": 5,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 5
          },
          {
            "x": 23,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 4
          },
          {
            "x": 9,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 9,
            "y": 4
          },
          {
            "x": 9,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 9,
            "y": 0
          },
          {
            "x": 12,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 18,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 0
          },
          {
            "x": 18,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 5
          },
          {
            "x": 23,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 4
          },
          {
            "x": -1,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 13
          },
          {
            "x": 24,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 4
          },
          {
            "x": -2,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 4
          },
          {
            "x": -2,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 12
          },
          {
            "x": 12,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 12
          },
          {
            "x": 24,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 9
          },
          {
            "x": 5,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 7
          },
          {
            "x": 23,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 9
          },
          {
            "x": 10,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": 10,
            "y": 9
          },
          {
            "x": 10,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 10,
            "y": 4
          },
          {
            "x": 12,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 19,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 19,
            "y": 4
          },
          {
            "x": 19,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 19,
            "y": 7
          },
          {
            "x": 23,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 9
          },
          {
            "x": -1,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 13
          },
          {
            "x": 24,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 9
          },
          {
            "x": -3,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": -3,
            "y": 9
          },
          {
            "x": -3,
            "y": 16
          }
        ]
      },
      {
        "points": [
          {
            "x": -3,
            "y": 16
          },
          {
            "x": 12,
            "y": 16
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 16
          },
          {
            "x": 18,
            "y": 16
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 16
          },
          {
            "x": 18,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 12
          },
          {
            "x": 24,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 14
          },
          {
            "x": 5,
            "y": 14
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 8
          },
          {
            "x": 11,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 14
          },
          {
            "x": 8,
            "y": 14
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 14
          },
          {
            "x": 8,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 8
          },
          {
            "x": 11,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 14
          },
          {
            "x": -1,
            "y": 14
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 13
          },
          {
            "x": 24,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 14
          },
          {
            "x": -2,
            "y": 14
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 14
          },
          {
            "x": -2,
            "y": 20
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 20
          },
          {
            "x": 12,
            "y": 20
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 20
          },
          {
            "x": 19,
            "y": 20
          }
        ]
      },
      {
        "points": [
          {
            "x": 19,
            "y": 20
          },
          {
            "x": 19,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 19,
            "y": 12
          },
          {
            "x": 24,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 8
          },
          {
            "x": 17,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 6
          },
          {
            "x": 29,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 8
          },
          {
            "x": 23,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 23,
            "y": 8
          },
          {
            "x": 23,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 23,
            "y": 6
          },
          {
            "x": 29,
            "y": 6
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}