{
  "circuit": {
    "elements": [
      {
        "id": "d34b7f56-fb21-4212-81c8-c1ac27d97bdf",
        "position": {
          "x": 0,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "voltage": 5
          },
          "label": "vLed",
          "position": [
            0,
            0
          ],
          "voltage": 5
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "50022714-8fd6-479c-98c4-336b14f70419",
        "position": {
          "x": 12,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "resistance": 1000
          },
          "label": "rLed",
          "position": [
            0,
            8
          ],
          "resistance": 1000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "6310ecd4-eb0f-47ff-8baf-7253231fc660",
        "position": {
          "x": 0,
          "y": 8
        },
        "properties": {
          "_modelParams": {
            "voltage": 5
          },
          "label": "vCC",
          "position": [
            0,
            16
          ],
          "voltage": 5
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "a25b1c5b-9fc1-453d-b818-5e920a7be15d",
        "position": {
          "x": 12,
          "y": 4
        },
        "properties": {
          "_modelParams": {
            "resistance": 1000
          },
          "label": "rCol",
          "position": [
            0,
            24
          ],
          "resistance": 1000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "5759c421-0f26-48a3-b52a-83243c78d999",
        "position": {
          "x": 24,
          "y": 1
        },
        "properties": {
          "_modelParams": {
            "Is": 1e-14,
            "ctr": 1,
            "n": 1
          },
          "label": "tx",
          "position": [
            0,
            32
          ]
        },
        "rotation": 0,
        "type": "Optocoupler"
      },
      {
        "id": "6c5c66ef-1864-4fd5-9552-897bc4cf1bd9",
        "position": {
          "x": 36,
          "y": 6
        },
        "properties": {
          "label": "gnd",
          "position": [
            0,
            40
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "optocoupler-cccs-canon-active",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 3
          },
          {
            "x": 5,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 3
          },
          {
            "x": 8,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 3
          },
          {
            "x": 8,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 0
          },
          {
            "x": 17,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 0
          },
          {
            "x": 23,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 0
          },
          {
            "x": 23,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 6
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 2
          },
          {
            "x": 23,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 5
          },
          {
            "x": 38,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 38,
            "y": 5
          },
          {
            "x": 38,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 38,
            "y": 11
          },
          {
            "x": 22,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 22,
            "y": 11
          },
          {
            "x": 22,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 22,
            "y": 2
          },
          {
            "x": 23,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 3
          },
          {
            "x": -1,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 6
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 3
          },
          {
            "x": 6,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 6,
            "y": 3
          },
          {
            "x": 6,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 6,
            "y": 8
          },
          {
            "x": 12,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 8
          },
          {
            "x": 24,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 8
          },
          {
            "x": 30,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 8
          },
          {
            "x": 30,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 5
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 8
          },
          {
            "x": 5,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 11,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 8
          },
          {
            "x": 8,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 8
          },
          {
            "x": 8,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 4
          },
          {
            "x": 11,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 4
          },
          {
            "x": 17,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 0
          },
          {
            "x": 29,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 4
          },
          {
            "x": 30,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 4
          },
          {
            "x": 30,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 0
          },
          {
            "x": 29,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 2
          },
          {
            "x": 29,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 6
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 2
          },
          {
            "x": 33,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 2
          },
          {
            "x": 33,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 5
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 8
          },
          {
            "x": -1,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 6
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 8
          },
          {
            "x": -2,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 8
          },
          {
            "x": -2,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 12
          },
          {
            "x": 12,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 12
          },
          {
            "x": 24,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 12
          },
          {
            "x": 31,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 12
          },
          {
            "x": 31,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 5
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}