{
  "circuit": {
    "description": "OTA in linear region: V_diff=1mV << 2*V_T=52mV, I_bias=1mA. I_out = gm * V_diff = (I_bias/(2*V_T)) * V_diff ~= 19.23 uA. V_out = I_out * R_load(1k) ~= 19.23 mV.",
    "elements": [
      {
        "id": "3a888b65-ac0b-4c5f-b684-a2e026687cd4",
        "position": {
          "x": 0,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "voltage": 0.001
          },
          "label": "vp",
          "position": [
            0,
            0
          ],
          "voltage": 0.001
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "118537a2-779a-4543-bb21-e1226a96bed7",
        "position": {
          "x": 0,
          "y": 8
        },
        "properties": {
          "_modelParams": {
            "voltage": 0
          },
          "label": "vm",
          "position": [
            0,
            8
          ],
          "voltage": 0
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "392f12f2-6256-4235-8210-d6897673891f",
        "position": {
          "x": 0,
          "y": 13
        },
        "properties": {
          "_modelParams": {
            "voltage": 0.001
          },
          "label": "viabc",
          "position": [
            0,
            16
          ],
          "voltage": 0.001
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "32ae4a6a-527b-4278-afcf-acaae519d0cd",
        "position": {
          "x": 12,
          "y": 4
        },
        "properties": {
          "_modelParams": {
            "gmMax": 0.01,
            "vt": 0.026
          },
          "label": "ota1",
          "position": [
            0,
            24
          ]
        },
        "rotation": 0,
        "type": "OTA"
      },
      {
        "id": "82c2028c-1fa3-4c8d-ba96-8e1f3469147b",
        "position": {
          "x": 27,
          "y": 5
        },
        "properties": {
          "_modelParams": {
            "resistance": 1000
          },
          "label": "rload",
          "position": [
            0,
            32
          ],
          "resistance": 1000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "2685c03f-4904-444a-a24d-a3330dfda07d",
        "position": {
          "x": 39,
          "y": 8
        },
        "properties": {
          "label": "gnd",
          "position": [
            0,
            40
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "ota-canon-linear",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 3
          },
          {
            "x": 5,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 2
          },
          {
            "x": 11,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 3
          },
          {
            "x": 8,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 3
          },
          {
            "x": 8,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 2
          },
          {
            "x": 11,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 3
          },
          {
            "x": -1,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 39,
            "y": 8
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 3
          },
          {
            "x": -2,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 3
          },
          {
            "x": -2,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 0
          },
          {
            "x": 12,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 20,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 0
          },
          {
            "x": 20,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 1
          },
          {
            "x": 27,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 1
          },
          {
            "x": 33,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 1
          },
          {
            "x": 33,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 7
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 8
          },
          {
            "x": 5,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 6
          },
          {
            "x": 11,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 8
          },
          {
            "x": 8,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 8
          },
          {
            "x": 8,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 6
          },
          {
            "x": 11,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 8
          },
          {
            "x": -1,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 39,
            "y": 8
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 8
          },
          {
            "x": 6,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 6,
            "y": 8
          },
          {
            "x": 6,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 6,
            "y": 13
          },
          {
            "x": 12,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 13
          },
          {
            "x": 27,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 13
          },
          {
            "x": 34,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 34,
            "y": 13
          },
          {
            "x": 34,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 34,
            "y": 7
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 13
          },
          {
            "x": 5,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 11,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 13
          },
          {
            "x": 8,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 13
          },
          {
            "x": 8,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 4
          },
          {
            "x": 11,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 13
          },
          {
            "x": -1,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 39,
            "y": 8
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 13
          },
          {
            "x": -2,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 13
          },
          {
            "x": -2,
            "y": 17
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 17
          },
          {
            "x": 12,
            "y": 17
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 17
          },
          {
            "x": 27,
            "y": 17
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 17
          },
          {
            "x": 32,
            "y": 17
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 17
          },
          {
            "x": 32,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 7
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 16.875,
            "y": 2
          },
          {
            "x": 16.875,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 5
          },
          {
            "x": 26,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 16.875,
            "y": 1
          },
          {
            "x": 21,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 21,
            "y": 1
          },
          {
            "x": 21,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 21,
            "y": 5
          },
          {
            "x": 26,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 5
          },
          {
            "x": 32,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 39,
            "y": 8
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 5
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 5
          },
          {
            "x": 36,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 7
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 17.875,
            "y": 4
          },
          {
            "x": 18.875,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 39,
            "y": 8
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 18.875,
            "y": 4
          },
          {
            "x": 23,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 23,
            "y": 4
          },
          {
            "x": 23,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": 23,
            "y": 9
          },
          {
            "x": 27,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 9
          },
          {
            "x": 35,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": 35,
            "y": 9
          },
          {
            "x": 35,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 35,
            "y": 7
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}