{
  "circuit": {
    "description": "OTA in tanh saturation: V_diff=1V >> 2*V_T=52mV, I_bias=5mA. I_out -> +I_bias = 5mA. V_out = I_out * R_load(1k) -> ~5V.",
    "elements": [
      {
        "id": "bf6db544-e952-4531-a599-d0976c518341",
        "position": {
          "x": 0,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "voltage": 1
          },
          "label": "vp",
          "position": [
            0,
            0
          ],
          "voltage": 1
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "5f1d332f-82dd-40b3-a966-70d380d82927",
        "position": {
          "x": 0,
          "y": 8
        },
        "properties": {
          "_modelParams": {
            "voltage": 0
          },
          "label": "vm",
          "position": [
            0,
            8
          ],
          "voltage": 0
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "ad153781-9a90-439b-9f86-06c6cca44e47",
        "position": {
          "x": 0,
          "y": 13
        },
        "properties": {
          "_modelParams": {
            "voltage": 0.005
          },
          "label": "viabc",
          "position": [
            0,
            16
          ],
          "voltage": 0.005
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "7b8c7747-c041-4f36-ab30-85bbfbb7d437",
        "position": {
          "x": 12,
          "y": 4
        },
        "properties": {
          "_modelParams": {
            "gmMax": 0.01,
            "vt": 0.026
          },
          "label": "ota1",
          "position": [
            0,
            24
          ]
        },
        "rotation": 0,
        "type": "OTA"
      },
      {
        "id": "8ace2a47-e0fe-48ad-97bc-5e0ed240e2a3",
        "position": {
          "x": 27,
          "y": 5
        },
        "properties": {
          "_modelParams": {
            "resistance": 1000
          },
          "label": "rload",
          "position": [
            0,
            32
          ],
          "resistance": 1000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "55dfd351-c288-4cc9-a32c-8c47b4e064f3",
        "position": {
          "x": 39,
          "y": 8
        },
        "properties": {
          "label": "gnd",
          "position": [
            0,
            40
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "ota-canon-saturated",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 3
          },
          {
            "x": 5,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 2
          },
          {
            "x": 11,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 3
          },
          {
            "x": 8,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 3
          },
          {
            "x": 8,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 2
          },
          {
            "x": 11,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 3
          },
          {
            "x": -1,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 39,
            "y": 8
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 3
          },
          {
            "x": -2,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 3
          },
          {
            "x": -2,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 0
          },
          {
            "x": 12,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 20,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 0
          },
          {
            "x": 20,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 1
          },
          {
            "x": 27,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 1
          },
          {
            "x": 33,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 1
          },
          {
            "x": 33,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 7
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 8
          },
          {
            "x": 5,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 6
          },
          {
            "x": 11,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 8
          },
          {
            "x": 8,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 8
          },
          {
            "x": 8,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 6
          },
          {
            "x": 11,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 8
          },
          {
            "x": -1,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 39,
            "y": 8
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 8
          },
          {
            "x": 6,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 6,
            "y": 8
          },
          {
            "x": 6,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 6,
            "y": 13
          },
          {
            "x": 12,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 13
          },
          {
            "x": 27,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 13
          },
          {
            "x": 34,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 34,
            "y": 13
          },
          {
            "x": 34,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 34,
            "y": 7
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 13
          },
          {
            "x": 5,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 11,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 13
          },
          {
            "x": 8,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 13
          },
          {
            "x": 8,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 4
          },
          {
            "x": 11,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 13
          },
          {
            "x": -1,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 39,
            "y": 8
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 13
          },
          {
            "x": -2,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 13
          },
          {
            "x": -2,
            "y": 17
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 17
          },
          {
            "x": 12,
            "y": 17
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 17
          },
          {
            "x": 27,
            "y": 17
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 17
          },
          {
            "x": 32,
            "y": 17
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 17
          },
          {
            "x": 32,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 7
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 16.875,
            "y": 2
          },
          {
            "x": 16.875,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 5
          },
          {
            "x": 26,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 16.875,
            "y": 1
          },
          {
            "x": 21,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 21,
            "y": 1
          },
          {
            "x": 21,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 21,
            "y": 5
          },
          {
            "x": 26,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 5
          },
          {
            "x": 32,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 39,
            "y": 8
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 5
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 5
          },
          {
            "x": 36,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 7
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 17.875,
            "y": 4
          },
          {
            "x": 18.875,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 39,
            "y": 8
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 18.875,
            "y": 4
          },
          {
            "x": 23,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 23,
            "y": 4
          },
          {
            "x": 23,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": 23,
            "y": 9
          },
          {
            "x": 27,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": 27,
            "y": 9
          },
          {
            "x": 35,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": 35,
            "y": 9
          },
          {
            "x": 35,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 35,
            "y": 7
          },
          {
            "x": 39,
            "y": 7
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}