{
  "circuit": {
    "elements": [
      {
        "id": "59fb90fa-8619-4701-819d-0707fc9f327b",
        "position": {
          "x": 0,
          "y": 2
        },
        "properties": {
          "_modelParams": {
            "voltage": 0.5
          },
          "label": "vsrc",
          "position": [
            0,
            0
          ],
          "voltage": 0.5
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "05f86dce-c4f8-47a3-8c14-f2edf0a677f8",
        "position": {
          "x": 24,
          "y": 1
        },
        "properties": {
          "_modelParams": {
            "resistance": 10000
          },
          "label": "rload",
          "position": [
            0,
            8
          ],
          "resistance": 10000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "a2e99449-2bdd-436f-8f63-6fe101df01f3",
        "position": {
          "x": 12,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "rOut": 50,
            "vOH": 3.3,
            "vOL": 0,
            "vTH": 2,
            "vTL": 1
          },
          "label": "st",
          "position": [
            0,
            16
          ],
          "rOut": 50,
          "vOH": 3.3,
          "vOL": 0,
          "vTH": 2,
          "vTL": 1
        },
        "rotation": 0,
        "type": "SchmittInverting"
      },
      {
        "id": "8442fd32-60a1-465a-be61-752b6595adeb",
        "position": {
          "x": 36,
          "y": 2
        },
        "properties": {
          "label": "gnd",
          "position": [
            0,
            24
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "schmitt-canon-inv-low",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 2
          },
          {
            "x": 5,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 2
          },
          {
            "x": 8,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 2
          },
          {
            "x": 8,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 2
          },
          {
            "x": -1,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 2
          },
          {
            "x": -2,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 2
          },
          {
            "x": -2,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 5
          },
          {
            "x": 12,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 5
          },
          {
            "x": 24,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 5
          },
          {
            "x": 30,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 5
          },
          {
            "x": 30,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 0
          },
          {
            "x": 17,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 1
          },
          {
            "x": 23,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 0
          },
          {
            "x": 20,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 0
          },
          {
            "x": 20,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 1
          },
          {
            "x": 23,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 1
          },
          {
            "x": 29,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}