{
  "circuit": {
    "elements": [
      {
        "id": "bb67a58b-7e9a-42be-9ad7-6e204998c2f9",
        "position": {
          "x": 0,
          "y": 2
        },
        "properties": {
          "_modelParams": {
            "voltage": 2.5
          },
          "label": "vsrc",
          "position": [
            0,
            0
          ],
          "voltage": 2.5
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "38cfa29d-460b-4979-a559-d959b3005955",
        "position": {
          "x": 24,
          "y": 1
        },
        "properties": {
          "_modelParams": {
            "resistance": 10000
          },
          "label": "rload",
          "position": [
            0,
            8
          ],
          "resistance": 10000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "5ac8d400-55fe-4a6d-a17f-9255bd600038",
        "position": {
          "x": 12,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "rOut": 50,
            "vOH": 3.3,
            "vOL": 0,
            "vTH": 2,
            "vTL": 1
          },
          "label": "st",
          "position": [
            0,
            16
          ],
          "rOut": 50,
          "vOH": 3.3,
          "vOL": 0,
          "vTH": 2,
          "vTL": 1
        },
        "rotation": 0,
        "type": "SchmittNonInverting"
      },
      {
        "id": "f5665450-6ba4-400a-93c6-9bae5797a7c8",
        "position": {
          "x": 36,
          "y": 2
        },
        "properties": {
          "label": "gnd",
          "position": [
            0,
            24
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "schmitt-canon-noninv-high",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 2
          },
          {
            "x": 5,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 2
          },
          {
            "x": 8,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 2
          },
          {
            "x": 8,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 2
          },
          {
            "x": -1,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 2
          },
          {
            "x": -2,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 2
          },
          {
            "x": -2,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 5
          },
          {
            "x": 12,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 5
          },
          {
            "x": 24,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 5
          },
          {
            "x": 30,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 5
          },
          {
            "x": 30,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 0
          },
          {
            "x": 17,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 1
          },
          {
            "x": 23,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 0
          },
          {
            "x": 20,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 0
          },
          {
            "x": 20,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 1
          },
          {
            "x": 23,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 1
          },
          {
            "x": 29,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}