{
  "circuit": {
    "elements": [
      {
        "id": "135b9009-fc22-475c-8313-dc935341d495",
        "position": {
          "x": 0,
          "y": 1
        },
        "properties": {
          "_modelParams": {
            "voltage": 2000
          },
          "label": "VS",
          "position": [
            0,
            0
          ],
          "voltage": 2000
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "21d57093-04af-4f1b-ac3b-a70a5e01f327",
        "position": {
          "x": 12,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "resistance": 100
          },
          "label": "RS",
          "position": [
            0,
            8
          ],
          "resistance": 100
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "97e9bd52-bb35-4797-8cfd-aa56c0ab4a7b",
        "position": {
          "x": 24,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "iHold": 0.01,
            "rOff": 10000000000,
            "rOn": 5,
            "vBreakdown": 100
          },
          "label": "SG",
          "position": [
            0,
            16
          ],
          "vBreakdown": 100
        },
        "rotation": 0,
        "type": "SparkGap"
      },
      {
        "id": "861a98fe-4c69-49bb-bd69-236e7e8ad463",
        "position": {
          "x": 36,
          "y": 2
        },
        "properties": {
          "label": "GND",
          "position": [
            0,
            24
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "spark-gap-canon-conducting",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 1
          },
          {
            "x": 5,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 1
          },
          {
            "x": 8,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 1
          },
          {
            "x": 8,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 0
          },
          {
            "x": 17,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 0
          },
          {
            "x": 23,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 0
          },
          {
            "x": 23,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 0
          },
          {
            "x": 29,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 0
          },
          {
            "x": 33,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 0
          },
          {
            "x": 33,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 1
          },
          {
            "x": -1,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 1
          },
          {
            "x": -2,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 1
          },
          {
            "x": -2,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 4
          },
          {
            "x": 12,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 24,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 4
          },
          {
            "x": 30,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 4
          },
          {
            "x": 30,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}