{
  "circuit": {
    "elements": [
      {
        "id": "15fb33e9-8490-45a6-b6a7-45efd00dea00",
        "position": {
          "x": 0,
          "y": 1
        },
        "properties": {
          "_modelParams": {
            "voltage": 50
          },
          "label": "VS",
          "position": [
            0,
            0
          ],
          "voltage": 50
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "df5d01d4-ec34-4e70-be66-c6ac69f30639",
        "position": {
          "x": 12,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "resistance": 100
          },
          "label": "RS",
          "position": [
            0,
            8
          ],
          "resistance": 100
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "46db447d-82c3-4883-a3e3-5da9ca41bf18",
        "position": {
          "x": 24,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "iHold": 0.01,
            "rOff": 10000000000,
            "rOn": 5,
            "vBreakdown": 1000
          },
          "label": "SG",
          "position": [
            0,
            16
          ],
          "vBreakdown": 1000
        },
        "rotation": 0,
        "type": "SparkGap"
      },
      {
        "id": "c851b503-04f5-4aba-ac4c-073bf4d52ef0",
        "position": {
          "x": 36,
          "y": 2
        },
        "properties": {
          "label": "GND",
          "position": [
            0,
            24
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "spark-gap-canon-blocking",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 1
          },
          {
            "x": 5,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 1
          },
          {
            "x": 8,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 1
          },
          {
            "x": 8,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 0
          },
          {
            "x": 17,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 0
          },
          {
            "x": 23,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 0
          },
          {
            "x": 23,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 0
          },
          {
            "x": 29,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 0
          },
          {
            "x": 33,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 0
          },
          {
            "x": 33,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 1
          },
          {
            "x": -1,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 1
          },
          {
            "x": -2,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 1
          },
          {
            "x": -2,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 4
          },
          {
            "x": 12,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 24,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 4
          },
          {
            "x": 30,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 4
          },
          {
            "x": 30,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}