{
  "circuit": {
    "elements": [
      {
        "id": "61e9b278-a86b-4c14-9921-984f7b5136e0",
        "position": {
          "x": 0,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "voltage": 5
          },
          "label": "V_CC",
          "position": [
            0,
            0
          ],
          "voltage": 5
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "3a3c44d1-14b9-490c-99d3-e998213effb3",
        "position": {
          "x": 12,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "resistance": 1000
          },
          "label": "R_C",
          "position": [
            0,
            8
          ],
          "resistance": 1000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "adcffce8-3cfa-4874-bd3d-7fb17185e7de",
        "position": {
          "x": 12,
          "y": 4
        },
        "properties": {
          "_modelParams": {
            "resistance": 100000
          },
          "label": "R_B",
          "position": [
            0,
            16
          ],
          "resistance": 100000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "9a18c960-fdf2-4674-bb0e-1ccd1e9748c7",
        "position": {
          "x": 24,
          "y": 2
        },
        "properties": {
          "BF": 100,
          "BR": 1,
          "IS": 1e-14,
          "_modelParams": {
            "AF": 1,
            "AREA": 1,
            "BF": 100,
            "BR": 1,
            "CJC": 0,
            "CJE": 0,
            "CJS": 0,
            "EG": 1.11,
            "FC": 0.5,
            "ICVBE": null,
            "ICVCE": null,
            "IKF": "_inf",
            "IKR": "_inf",
            "IRB": 0,
            "IS": 1e-14,
            "ISC": 0,
            "ISE": 0,
            "ISS": 0,
            "ITF": 0,
            "KF": 0,
            "M": 1,
            "MJC": 0.33,
            "MJE": 0.33,
            "MJS": 0,
            "NC": 2,
            "NE": 1.5,
            "NF": 1,
            "NKF": 0.5,
            "NR": 1,
            "NS": 1,
            "OFF": 0,
            "PTF": 0,
            "RB": 0,
            "RBM": 0,
            "RC": 0,
            "RE": 0,
            "TF": 0,
            "TNOM": 300.15,
            "TR": 0,
            "VAF": "_inf",
            "VAR": "_inf",
            "VJC": 0.75,
            "VJE": 0.75,
            "VJS": 0.75,
            "VTF": "_inf",
            "XCJC": 1,
            "XTB": 0,
            "XTF": 0,
            "XTI": 3
          },
          "label": "Q1",
          "position": [
            0,
            24
          ]
        },
        "rotation": 0,
        "type": "NpnBJT"
      },
      {
        "id": "49f57c27-2e23-4e85-848c-774d4115ee8e",
        "position": {
          "x": 36,
          "y": 4
        },
        "properties": {
          "label": "GND",
          "position": [
            0,
            32
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "bjt-common-emitter",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 3
          },
          {
            "x": 5,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 3
          },
          {
            "x": 8,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 3
          },
          {
            "x": 8,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 3
          },
          {
            "x": 5,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 11,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 3
          },
          {
            "x": 9,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 9,
            "y": 3
          },
          {
            "x": 9,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 9,
            "y": 4
          },
          {
            "x": 11,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 0
          },
          {
            "x": 17,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 1
          },
          {
            "x": 29,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 0
          },
          {
            "x": 30,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 0
          },
          {
            "x": 30,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 1
          },
          {
            "x": 29,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 4
          },
          {
            "x": 17,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 2
          },
          {
            "x": 23,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 4
          },
          {
            "x": 20,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 4
          },
          {
            "x": 20,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 2
          },
          {
            "x": 23,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 3
          },
          {
            "x": 29,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 4
          },
          {
            "x": 36,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 3
          },
          {
            "x": 36,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 3
          },
          {
            "x": -1,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 4
          },
          {
            "x": 36,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 3
          },
          {
            "x": -2,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 3
          },
          {
            "x": -2,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 8
          },
          {
            "x": 12,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 8
          },
          {
            "x": 18,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 8
          },
          {
            "x": 18,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 7
          },
          {
            "x": 24,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 7
          },
          {
            "x": 30,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 7
          },
          {
            "x": 30,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 3
          },
          {
            "x": 36,
            "y": 3
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}