{
  "circuit": {
    "description": "DC 5V into R1 into geometry-specified inductor (csect/length/mu/nt) to gnd",
    "elements": [
      {
        "id": "2a600be5-95e1-4a8a-acee-16efb6ee9c8f",
        "position": {
          "x": 0,
          "y": 1
        },
        "properties": {
          "_modelParams": {
            "voltage": 5
          },
          "label": "V1",
          "position": [
            0,
            0
          ],
          "voltage": 5
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "b410ff3b-c37a-46f1-9ca3-7ef6f4d9592b",
        "position": {
          "x": 12,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "resistance": 100
          },
          "label": "R1",
          "position": [
            0,
            8
          ],
          "resistance": 100
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "792eafda-74b8-4be4-872e-445b31e6015a",
        "position": {
          "x": 24,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "csect": 0.0001,
            "length": 0.05,
            "modNt": 200,
            "mu": 100,
            "nt": 200
          },
          "csect": 0.0001,
          "label": "L1",
          "length": 0.05,
          "modNt": 200,
          "mu": 100,
          "nt": 200,
          "position": [
            0,
            16
          ]
        },
        "rotation": 0,
        "type": "Inductor"
      },
      {
        "id": "7f778730-bf43-4d09-9a57-a98b0c994c80",
        "position": {
          "x": 36,
          "y": 2
        },
        "properties": {
          "label": "gnd",
          "position": [
            0,
            24
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "RL geometry inductor",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 1
          },
          {
            "x": 5,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 1
          },
          {
            "x": 8,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 1
          },
          {
            "x": 8,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 0
          },
          {
            "x": 17,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 0
          },
          {
            "x": 23,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 0
          },
          {
            "x": 23,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 0
          },
          {
            "x": 29,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 0
          },
          {
            "x": 33,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 0
          },
          {
            "x": 33,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 1
          },
          {
            "x": 36,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 1
          },
          {
            "x": -1,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 2
          },
          {
            "x": 36,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 1
          },
          {
            "x": -2,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 1
          },
          {
            "x": -2,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 4
          },
          {
            "x": 12,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 24,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 4
          },
          {
            "x": 30,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 4
          },
          {
            "x": 30,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 0
          },
          {
            "x": 36,
            "y": 0
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}