{
  "circuit": {
    "elements": [
      {
        "id": "b26f5dc9-9cc7-4da9-abec-6c0dd95ab135",
        "position": {
          "x": 0,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "voltage": 1
          },
          "label": "V_IN",
          "position": [
            0,
            0
          ],
          "voltage": 1
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "7a36338c-bb34-4572-a221-fed22c0fdb72",
        "position": {
          "x": 0,
          "y": 8
        },
        "properties": {
          "_modelParams": {
            "voltage": 15
          },
          "label": "V_POS",
          "position": [
            0,
            8
          ],
          "voltage": 15
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "570fd2a1-cb37-49c2-9abf-cb8cc42bd721",
        "position": {
          "x": 24,
          "y": 4
        },
        "properties": {
          "_modelParams": {
            "voltage": 15
          },
          "label": "V_NEG",
          "position": [
            0,
            16
          ],
          "voltage": 15
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "f5b3c7fc-b2d1-4ae5-bc1e-0ff573cf3e35",
        "position": {
          "x": 12,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "resistance": 10000
          },
          "label": "R_IN",
          "position": [
            0,
            24
          ],
          "resistance": 10000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "5203d43e-c6fc-41f7-a576-68a4bba0762e",
        "position": {
          "x": 48,
          "y": 6
        },
        "properties": {
          "_modelParams": {
            "resistance": 100000
          },
          "label": "R_F",
          "position": [
            0,
            32
          ],
          "resistance": 100000
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "4d0dc5e0-9756-4c09-83cf-e8f8d00ab640",
        "position": {
          "x": 36,
          "y": 5
        },
        "properties": {
          "_modelParams": {
            "aol": 100000,
            "gbw": 1000000,
            "iBias": 0,
            "iMax": 0.025,
            "rIn": 2000000,
            "rOut": 75,
            "slewRate": 500000,
            "vSatNeg": 1.5,
            "vSatPos": 1.5,
            "vos": 0
          },
          "aol": 100000,
          "gbw": 1000000,
          "iBias": 0,
          "label": "U1",
          "position": [
            0,
            40
          ],
          "slewRate": 500000,
          "vos": 0
        },
        "rotation": 0,
        "type": "RealOpAmp"
      },
      {
        "id": "1b159b62-2753-49cb-9c78-969ef4862b34",
        "position": {
          "x": 12,
          "y": 7
        },
        "properties": {
          "label": "GND",
          "position": [
            0,
            48
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "opamp-inverting",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 3
          },
          {
            "x": 5,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 3
          },
          {
            "x": 11,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 3
          },
          {
            "x": 11,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 3
          },
          {
            "x": 17,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 4
          },
          {
            "x": 35,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 3
          },
          {
            "x": 21,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 21,
            "y": 3
          },
          {
            "x": 21,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 21,
            "y": 0
          },
          {
            "x": 24,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 0
          },
          {
            "x": 30,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 0
          },
          {
            "x": 30,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 4
          },
          {
            "x": 35,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 40,
            "y": 5
          },
          {
            "x": 41,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 48,
            "y": 6
          },
          {
            "x": 47,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 41,
            "y": 5
          },
          {
            "x": 44,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 44,
            "y": 5
          },
          {
            "x": 44,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 44,
            "y": 6
          },
          {
            "x": 47,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 52,
            "y": 6
          },
          {
            "x": 53,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 4
          },
          {
            "x": 35,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 53,
            "y": 6
          },
          {
            "x": 54,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 54,
            "y": 6
          },
          {
            "x": 54,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 54,
            "y": 11
          },
          {
            "x": 34,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 34,
            "y": 11
          },
          {
            "x": 34,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 34,
            "y": 4
          },
          {
            "x": 35,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 7
          },
          {
            "x": 12,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 6
          },
          {
            "x": 35,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 6
          },
          {
            "x": 18,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 6
          },
          {
            "x": 18,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 9
          },
          {
            "x": 24,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 9
          },
          {
            "x": 30,
            "y": 9
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 9
          },
          {
            "x": 30,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 6
          },
          {
            "x": 35,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 8
          },
          {
            "x": 5,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 38,
            "y": 3
          },
          {
            "x": 38,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 8
          },
          {
            "x": 9,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 9,
            "y": 8
          },
          {
            "x": 9,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 9,
            "y": 11
          },
          {
            "x": 12,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 11
          },
          {
            "x": 18,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 11
          },
          {
            "x": 18,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 13
          },
          {
            "x": 24,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 13
          },
          {
            "x": 31,
            "y": 13
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 13
          },
          {
            "x": 31,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 2
          },
          {
            "x": 38,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 8
          },
          {
            "x": -1,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 7
          },
          {
            "x": 12,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 8
          },
          {
            "x": -2,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 8
          },
          {
            "x": -2,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 6
          },
          {
            "x": 12,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 7
          },
          {
            "x": 12,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 4
          },
          {
            "x": 29,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 6
          },
          {
            "x": 32,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 6
          },
          {
            "x": 32,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 32,
            "y": 4
          },
          {
            "x": 29,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 4
          },
          {
            "x": 23,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 38,
            "y": 7
          },
          {
            "x": 38,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 23,
            "y": 4
          },
          {
            "x": 22,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 22,
            "y": 4
          },
          {
            "x": 22,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 22,
            "y": 8
          },
          {
            "x": 38,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 3
          },
          {
            "x": -1,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 7
          },
          {
            "x": 12,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 3
          },
          {
            "x": -3,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": -3,
            "y": 3
          },
          {
            "x": -3,
            "y": 6
          }
        ]
      },
      {
        "points": [
          {
            "x": -3,
            "y": 6
          },
          {
            "x": 12,
            "y": 6
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}