{
  "circuit": {
    "elements": [
      {
        "id": "78b2bf31-3c2b-421b-98cb-8f59e1a69e83",
        "position": {
          "x": 0,
          "y": 2
        },
        "properties": {
          "_modelParams": {
            "voltage": 15
          },
          "label": "V_DD",
          "position": [
            0,
            0
          ],
          "voltage": 15
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "f32569ba-2cbd-48a6-9ce4-1fae8159dadd",
        "position": {
          "x": 0,
          "y": 7
        },
        "properties": {
          "_modelParams": {
            "amplitude": 1,
            "dcOffset": 6,
            "frequency": 1000
          },
          "amplitude": 1,
          "dcOffset": 6,
          "frequency": 1000,
          "label": "V_IN",
          "position": [
            0,
            8
          ],
          "waveform": "sine"
        },
        "rotation": 0,
        "type": "AcVoltageSource"
      },
      {
        "id": "6f1486b4-3a13-47b5-b14d-5801a6e72963",
        "position": {
          "x": 12,
          "y": 4
        },
        "properties": {
          "_modelParams": {
            "resistance": 50
          },
          "label": "R_G",
          "position": [
            0,
            16
          ],
          "resistance": 50
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "968614d2-893d-4b60-b195-b333f3c23430",
        "position": {
          "x": 12,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "resistance": 100
          },
          "label": "R_L",
          "position": [
            0,
            24
          ],
          "resistance": 100
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "a3ba693c-5066-4c4b-ba8c-a760086fb598",
        "position": {
          "x": 24,
          "y": 1
        },
        "properties": {
          "label": "M1",
          "model": "spice-vdmos",
          "position": [
            0,
            32
          ]
        },
        "rotation": 0,
        "type": "VDMOSN"
      },
      {
        "id": "9c88ae3c-03aa-4be7-9fad-f79e612af760",
        "position": {
          "x": 36,
          "y": 6
        },
        "properties": {
          "label": "GND",
          "position": [
            0,
            40
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "Untitled",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 2
          },
          {
            "x": 5,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 2
          },
          {
            "x": 8,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 2
          },
          {
            "x": 8,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 0
          },
          {
            "x": 17,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 0
          },
          {
            "x": 29,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 0
          },
          {
            "x": 29,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 7
          },
          {
            "x": 5,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 11,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 7
          },
          {
            "x": 8,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 7
          },
          {
            "x": 8,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 4
          },
          {
            "x": 11,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 4
          },
          {
            "x": 17,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 1
          },
          {
            "x": 23,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 4
          },
          {
            "x": 20,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 4
          },
          {
            "x": 20,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 20,
            "y": 1
          },
          {
            "x": 23,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 2
          },
          {
            "x": 29,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 6
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 2
          },
          {
            "x": 33,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 2
          },
          {
            "x": 33,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 5
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 2
          },
          {
            "x": -1,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 6
          },
          {
            "x": 36,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 2
          },
          {
            "x": 6,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 6,
            "y": 2
          },
          {
            "x": 6,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 6,
            "y": 8
          },
          {
            "x": 12,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 8
          },
          {
            "x": 18,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 8
          },
          {
            "x": 18,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 7
          },
          {
            "x": 24,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 7
          },
          {
            "x": 30,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 7
          },
          {
            "x": 30,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 4
          },
          {
            "x": 36,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 7
          },
          {
            "x": -1,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 6
          },
          {
            "x": 36,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 7
          },
          {
            "x": -2,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 7
          },
          {
            "x": -2,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 12
          },
          {
            "x": 12,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 12
          },
          {
            "x": 18,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 12
          },
          {
            "x": 18,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 11
          },
          {
            "x": 24,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 11
          },
          {
            "x": 31,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 11
          },
          {
            "x": 31,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 3
          },
          {
            "x": 36,
            "y": 3
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}