{
  "circuit": {
    "elements": [
      {
        "id": "5a942f0d-0443-4e93-9ef1-a7aaa65a9ce4",
        "position": {
          "x": 0,
          "y": 3
        },
        "properties": {
          "_modelParams": {
            "voltage": 15
          },
          "label": "V_DD",
          "position": [
            0,
            0
          ],
          "voltage": 15
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "2b62aa48-4e97-491d-9713-ea91121fb668",
        "position": {
          "x": 0,
          "y": 8
        },
        "properties": {
          "_modelParams": {
            "voltage": 4
          },
          "label": "V_G",
          "position": [
            0,
            8
          ],
          "voltage": 4
        },
        "rotation": 0,
        "type": "DcVoltageSource"
      },
      {
        "id": "709d2840-0b74-4ef4-85b8-690f655b32c5",
        "position": {
          "x": 12,
          "y": 0
        },
        "properties": {
          "_modelParams": {
            "resistance": 100
          },
          "label": "R_L",
          "position": [
            0,
            16
          ],
          "resistance": 100
        },
        "rotation": 0,
        "type": "Resistor"
      },
      {
        "id": "c84057f4-93dd-493a-8daa-b3b8d78b0aa4",
        "position": {
          "x": 24,
          "y": 1
        },
        "properties": {
          "label": "M1",
          "model": "spice-vdmos",
          "position": [
            0,
            24
          ],
          "_modelParams": {
            "THERMAL": 1,
            "RTHJC": 10,
            "CTHJ": 0.000001
          }
        },
        "rotation": 0,
        "type": "VDMOSN"
      },
      {
        "id": "67e3d2f4-a6a1-4dfe-806b-633c528e478e",
        "position": {
          "x": 36,
          "y": 6
        },
        "properties": {
          "label": "GND",
          "position": [
            0,
            32
          ]
        },
        "rotation": 0,
        "type": "Ground"
      }
    ],
    "name": "vdmos-selfheat",
    "wires": [
      {
        "points": [
          {
            "x": 4,
            "y": 3
          },
          {
            "x": 5,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 3
          },
          {
            "x": 8,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 3
          },
          {
            "x": 8,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 8,
            "y": 0
          },
          {
            "x": 11,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 16,
            "y": 0
          },
          {
            "x": 17,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 0
          },
          {
            "x": 29,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 17,
            "y": 0
          },
          {
            "x": 29,
            "y": 0
          }
        ]
      },
      {
        "points": [
          {
            "x": 4,
            "y": 8
          },
          {
            "x": 5,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 1
          },
          {
            "x": 23,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 5,
            "y": 8
          },
          {
            "x": 9,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 9,
            "y": 8
          },
          {
            "x": 9,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 9,
            "y": 4
          },
          {
            "x": 12,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 4
          },
          {
            "x": 18,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 4
          },
          {
            "x": 18,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 1
          },
          {
            "x": 23,
            "y": 1
          }
        ]
      },
      {
        "points": [
          {
            "x": 28,
            "y": 2
          },
          {
            "x": 29,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 6
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 29,
            "y": 2
          },
          {
            "x": 33,
            "y": 2
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 2
          },
          {
            "x": 33,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 33,
            "y": 5
          },
          {
            "x": 36,
            "y": 5
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 3
          },
          {
            "x": -1,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 6
          },
          {
            "x": 36,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 3
          },
          {
            "x": 6,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 6,
            "y": 3
          },
          {
            "x": 6,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 6,
            "y": 8
          },
          {
            "x": 12,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 8
          },
          {
            "x": 18,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 8
          },
          {
            "x": 18,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 7
          },
          {
            "x": 24,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 7
          },
          {
            "x": 30,
            "y": 7
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 7
          },
          {
            "x": 30,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 30,
            "y": 4
          },
          {
            "x": 36,
            "y": 4
          }
        ]
      },
      {
        "points": [
          {
            "x": 0,
            "y": 8
          },
          {
            "x": -1,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": 36,
            "y": 6
          },
          {
            "x": 36,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": -1,
            "y": 8
          },
          {
            "x": -2,
            "y": 8
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 8
          },
          {
            "x": -2,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": -2,
            "y": 12
          },
          {
            "x": 12,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 12,
            "y": 12
          },
          {
            "x": 18,
            "y": 12
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 12
          },
          {
            "x": 18,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 18,
            "y": 11
          },
          {
            "x": 24,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 24,
            "y": 11
          },
          {
            "x": 31,
            "y": 11
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 11
          },
          {
            "x": 31,
            "y": 3
          }
        ]
      },
      {
        "points": [
          {
            "x": 31,
            "y": 3
          },
          {
            "x": 36,
            "y": 3
          }
        ]
      }
    ]
  },
  "format": "dts",
  "version": 1
}
